body {
    font-family: Tahoma;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
    
}

#menu-top {
    background-color: #141413;
    height: 40px;
}

#menu-top ul {
    margin: 0px;
    padding: 0px;

}

#menu-top ul li {
    list-style: none;
    float: left;
}

#menu-top ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    padding: 0px 20px 0px 20px;
    border-right: 1px solid #ccc;
    font-size: 12px;
}

#menu-top ul li a.active {
    background: rgb(207, 150, 65);
}
#menu-top ul li a:hover{
    color: blue;
}

#banner {
    height: auto;

    width: 1000px;
}

#main {
    margin-top: 10px;
}

#main #left {
    width: 700px;

    float: left;
    min-height: 400px;
}

#main #left ul {
    margin: 0px;
    padding: 0px;
}

#main #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 2px solid #ccc;
    float: left;
    margin-bottom: 20px;

}

#main #left ul li img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 170px;
    border: 1px solid grey;

}

#main #left ul li h2 {
    font-size: 16px;
    margin-top: 0px;
    color: #d62f2fd8;

}

#main #right {
    width: 300px;

    float: left;
    min-height: 400px;
    
}


#main #right .menu-right ul {
    margin: -15px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ccc;
}
#main #right .menu-right{
    margin-bottom: 37px;
}

#main #right .menu-right ul li {
    list-style: none;
}

#main #right .menu-right h3 {
    background: url(../imagess/iconmenu.png) no-repeat 3px;
    height: 40px;
    margin-top: 0px;
   text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: rgb(124, 61, 61);

}

#main #right .menu-right ul li a {
    display: block;
    text-decoration: none;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
    background: url(../imagess/iconcheck.jpg) no-repeat;
    text-indent: 35px;
    color: #878787;
    font-size: 14px;
}

#main #right .menu-right ul li a:hover {
    color: orangered;
}

#footer {
    background: rgb(77, 119, 167);
    width: 1000px;
    text-align: center;
    height: 50px;
    color:#FFF;
    clear: left;
    line-height: 60px;
    border: rgb(68, 65, 209) 2px;
    
}

#banner img {
    width: 1000px;
    
}
#main #right img{
    border: 2px solid grey;
   
}