#container {
    width: 960px;
    height: 1000px;

    margin: 0 auto;
}

header {
    width: 100%;
    height: 300px;
    background: url(../CN\ QTNH\ -\ CÄTH\ FPT\ Polytechnic\ banner1.jpg) no-repeat;
    position: relative;

}

nav {
    width: 100%;
    height: 50px;
    background-color: rgb(243, 123, 11);
    text-align: center;
    font-variant: small-caps;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    margin: 0 10px;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;

}


article {
    width: 70%;
    height: 500px;
    background-color: white;
    float: left;
}

aside {
    width: 30%;
    height: 500px;

    float: left;
}

footer {
    width: 100%;
    height: 150px;
    background-color: blueviolet;
    clear: both;
    border-top: 5px double orangered;
    line-height: 150px;
    text-align: center;
    font-size: 26px;
    font-variant: small-caps;
}

iframe[name=page] {
    width: 100%;
    min-height: 500px;
}

.vmenu {
    list-style-type: none;

    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 2px 3px gray;
}

.vmenu li {
    border-bottom: 1px dashed orangered;
    padding: 0px;
}

.vmenu a {
    text-decoration: none;
    line-height: 30px;
    background: url(../chamdo.jpg) no-repeat 1px;
    padding: 5px 5px 6px 40px;
    color: red;
}

.vmenu a:hover {
    background: orangered;
    display: block;
    color: #fff;
    font-weight: bold;
}
.col-33{
    width: 33%;
    float: left;
    margin-left: 2px;
  
    height: 200px;
}
.product{
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 1px;
    margin: 1px;  
    position: relative;
}
.product >.image{
height: 200px;
}
.product >.name{
color: red;
text-align: center;
font-size: 24px;
line-height: 30px;

}
.product >.price{
    font-size: 30px;
    font-weight: bold;
    color: orange;
    position: absolute;
    left: 5px;
    top: 200px;
}
.product >.icons{
    width: 25px;
    height: 100px;
    position: absolute;
    top: 130px;
    right: 10px;
}
.product >.new-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
}
.company-info{
    width: 350px;
    height: 40px;
    background: #ff6a00;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 0px 15px;
}
.company-info ul{
list-style: none;
padding: 0px;
margin: 0px;
line-height: 40px;
}
.company-info ul li{
    display: inline-block;
    margin-left: 18px;
  
}
.company-info ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}